<li>
  <a href="http://<%= wow_character.region.to_s.downcase %>.battle.net/wow/en/character/<%= wow_character.server.gsub('\'', "") %>/<%= wow_character.name %>">  
  	<b><%= wow_character.name %></b>, <%= wow_character.server %>, <%= wow_character.region.upcase %>
  </a>
</li>